@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    /* colors */
    --main: #F03131;
    --loading-bg: #D9D9D9;
    --subtext: #767676;
    --progress-bg: #17171b80;
    --category-bg: #e2e2e2;
    --header-border: #a1a1a1;

    /* sizes */
    --page-width: 65vw;
    --profile-width: 55vw;
}

.draggable {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

body {
    background: var(--background); 
    color: var(--foreground);
    font-family: Pretendard;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow-x: hidden;
    scroll-behavior: smooth;
}

progress {
    appearance: none;
    height: 2.5px;
}

progress::-webkit-progress-bar {
    background-color: var(--progress-bg);
}

progress::-webkit-progress-value {
    background-color: var(--main);
}

::-webkit-scrollbar {
    background: #e3e3e3;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 10px;
}

.hide-scrollbar {
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}